@import url("https://fonts.googleapis.com/css2?family=Micro+5&display=swap");

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Micro 5", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

header {
  display: flex;
  align-items: center;
  gap: 32px;
  height: 64px;
  font-size: xx-large;
  font-style: normal;
  margin-top: 8px;
}

a {
  text-decoration: none;
  color: black;
}

.header__title {
  flex: auto;
  text-align: center;
  font-weight: bold;
  font-size: 4rem;
}

.header__links {
  flex: auto;
  display: flex;
  gap: 16px;
  justify-content: space-evenly;
}

/* main {
  flex: 2; 
  display: flex;
  flex-direction: column;
  font-size: xx-large;
  font-style: normal;
} */

main {
  flex: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: min-content;
  font-size: xx-large;
  font-style: normal;
  overflow-y: scroll;
}

.main__label {
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  position: sticky;
  /* For some strange reasons this works now!! */
  top: 0px;
  background-color: white;
}

input {
  text-align: center;
}

/* .main__container {
  flex: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__container__field {
  display: flex;
  width: 100%;
  align-items: baseline;
}

.main__container__field > textarea,
.main__container__field > div,
.main__container__field > input{
  flex: 1;
  text-align: center;
  font-size: 50px;
}

.main__container__field > textarea{
  flex: 8;
}

.main__label {
  display: flex;
}

.main__label__title {
  flex: auto;
  text-align: center;
} */
